/* Style de mon header */

*{
  font-family: Montserrat;
  margin: 0%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  margin-left: 15%;
  margin-right: 15%;
}

header img {
  width: 130px;
}

header nav {
  display: flex;
  gap: 50px;
}

header nav span {
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}

/*Style pour ma bannière*/

.banner {
  position: relative;
  margin-top: 2%;
  margin-right:17%;
  margin-left: 17%; 
  overflow: hidden;
}

.banner-image {
  display: block; 
  width: 100%; 
  height: auto; 
}

.banner-content {
  position: absolute;
  font-size: 30px;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: white;
  text-align: center
}


/* Style pour mes cartes*/

.cards-container {
  display: flex; 
  flex-wrap: wrap; 
  gap: 27px; 
  padding: 3%; 
  margin: 3% 17%; 
  background-color: #F6F6F6;
  border-radius: 25px;
}

.card {
  width: calc(33.333% - 27px); 
  height: 340px;
  text-align: left;
  border-radius: 10px; 
  overflow: hidden;
  position: relative;
}

.card-image {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
}

.card-title {
  position: absolute; 
  bottom: 0;
  left: 0;
  padding-left: 15px;
  padding-bottom: 10px;
  font-size: 15px; 
  font-weight: 700;
  color: white;
  width: 100%; 
}

.footer {
  padding: 50px;
  text-align: center;
  background-color: black; 
}

.footer-logo {
  width: 100px; 
  height: auto;
}

.footer p {
  color: #FFFFFF;
  padding: 15px;
}